<header class="header">
  {% theme_include 'partials/logo' %}
  <button class="mobile-menu-toggle mobile-menu-toggle-trigger">
    <span>{{ theme.menu_text }}</span>
  </button>
</header>
<div class="overlay menu-close"></div>
{% theme_include 'partials/menu' %}
{% theme_include 'partials/social' %}