{% if page.title %}
  {% if page.title.image_url and page.title.copy_alignment != "only" %}
    <img src='{{ page.title.image_url_900x0 }}'>
  {% else if page.title.copy and page.title.copy_alignment != "none" %}
    <div class="title-element">
      <div class="text">{{ page.title.copy }}</div>
    </div>
  {% endif %}
{% endif %}